<a href='#dropdown'>
    <span class='icon down'></span>
    {{#icon}}<span class='icon {{.}}'></span>{{/icon}}
    {{title}}
</a>
<ul>
    {{#links}}
        <li><a href='{{href}}'>{{title}}</a></li>
    {{/links}}
</ul>
