<div id='bonesAdminOverlay'></div>
<div id='bonesAdminPopup'></div>
<div id='bonesAdminGrowl'></div>
<div id='bonesAdminToolbar'>
    <div class='panel clearfix'></div>
    <div class='menus clearfix'></div>
    <div class='auth clearfix'></div>
    <a class='toggle' href='#toggle'>Admin</a>
</div>

