<div id='bonesAdminOverlay'></div>
<div id='bonesAdminToolbar'>
    <div class='panel'></div>
    <div class='menus clearfix'></div>
    {{^authenticated}}
    <form action='/' method='post' class='login'>
        <label for='username'>Username</label>
        <input size='10' type='text' name='username' />
        <label for='password'>Password</label>
        <input size='10' type='password' name='password' />
        <input type='submit' value='Login' />
    </form>
    {{/authenticated}}
    <a class='toggle' href='#toggle'>Admin</a>
</div>
<div id='bonesAdminGrowl'></div>
<div id='bonesAdminPopup'></div>

